#countdown {
  position: relative;
  margin: auto;
  height: 60px;
  width: 60px;
  text-align: center;
}

#countdown-number {
  color: black;
  display: inline-block;
  line-height: 60px;
}

.svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

.svg .circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 4px;
  fill: none;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}
