.cell {
  width: 60px;
  height: 60px;
}

.board {
  height: calc(100vh - 60px);
}

.top-bar {
  height: 40px;
}

.bottom-bar {
  height: 40px;
}

.end-turn {
  margin-top: -30px;
  font-size: 40px;
  width: 60px !important;
  height: 60px !important;
}

.bordered {
  border: 1px dashed;
  @apply border-dark-primary;
}
