.dialog {
  z-index: 80;
  @apply bg-dark-primary rounded-2xl fixed bottom-5;
}

.quests {
  width: 300px;
  height: 300px;
  top: 3.8rem;
  @apply left-5;
}

.quests .diag-content {
  flex-direction: column;
  gap: 15px;
}

.content {
  @apply flex-1;
}

.actions {
  @apply absolute bottom-3 right-5;
}

.quest-completed {
  @apply italic line-through !text-success;
}

.quest-undiscovered {
  display: none;
}

.quest-failed {
  @apply line-through italic !text-error;
}

.diag-content p,
.diag-content h4 {
  @apply text-white;
}
